#man-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !importa	nt;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

/*
    Display the status bar in Firefox Quantum (version 61+)
    permanently at the bottom of the browser window.
    Code below works best for the Dark Firefox theme and is based on:
    https://github.com/MatMoul/firefox-gui-chrome-css/blob/master/chrome/userChrome.css
    This userChrome.css file was last modified on: 28-Jun-2018.
    Tested to work with Firefox 61 on Windows.
    Related blog post: http://www.optimiced.com/en/?p=1727
*/

#browser-bottombox {
  height: 0px;
  border-top: solid 1px #505050;
}

.browserContainer>#statuspanel {
  left: 4px !important;
  bottom: 0px;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}

.browserContainer>#statuspanel>#statuspanel-inner>#statuspanel-label {
  margin-left: 0px !important;
  border: none !important;
  padding: 0px !important;
  color: #EEE !important;
  background: #333 !important;
}

window[inFullscreen="true"] #browser-bottombox {
  display: none !important;
}

window[inFullscreen="true"] .browserContainer>#statuspanel[type="overLink"] #statuspanel-label {
  display: none !important;
}

/* Adding empty space for buttons */
#nav-bar {
	margin-right:80px;
}

/* For dragging whole window by mouse*/
#titlebar {
	appearance: none !important;
	height: 7px;
}

/*
  Fix for main menu calling by Alt button
  THIS BREAKS THE UI!!
  */
/* #titlebar > #toolbar-menubar {
	margin-top: 10px;
} */

/* Move minimize/restore/close buttons to empty space */
#TabsToolbar > .titlebar-buttonbox-container {
	display: block;
	position: absolute;
	top: 17px;
	right: 1px;
}

#nav-bar {
	margin-right: 0px;
}

#PersonalToolbar { display: none; }

#TabsToolbar > .titlebar-buttonbox-container { display: none !important; }

:root{ scrollbar-width: none }
i
