@namespace "http://www.w3.org/1999/xhtml";

:root{
    scrollbar-width: none !important;
    --dracula-bg: #282a36;
    --dracula-line: #44475a;
    --dracula-selection: #44475a;
    --dracula-fg: #f8f8f2;
    --dracula-comment: #6272a4;
    --dracula-cyan: #8be9fd;
    --dracula-green: #50fa7b;
    --dracula-orange: #ffb86c;
    --dracula-pink: #ff79c6;
    --dracula-purple: #bd93f9;
    --dracula-red: #ff5555;
    --dracula-yellow: #f1fa8c;
    --dracula-black: #21222C;
    
    --meili-bg: #1D1428;

    --meili-pink: #FF5CAA;
    --meili-light-pink: #FF85BF;
    --meili-dark-pink: #D94E91;

    --meili-blue: #4F55E3;
    --meili-dark-blue: #7B80EA;

    --meili-white: #FAFBFE;

    --meili-purple: #261A59;
    --meili-dark-purple: #352A43;

    --meili-green: #42B98A;
    --meili-dark-green: #7EC699;

    --meili-orange: #F08D49;
    --meili-yellow: #F8C555;
}

@-moz-document domain("slack.com")
{

}

@-moz-document domain("news.ycombinator.com")
{

  body
  {
    margin: 0;
  }

  .text-shadow
  {
    text-shadow: black 0px 1px 3px !important;
  }

  td.default a
  {
    text-shadow: black 0px 1px 3px !important;
  }

  td.default span.comhead a,
  td.subtext a
  {
    font-weight: bold;
    text-shadow: black 0px 1px 3px !important;
  }

  body > center > table > tbody > tr:first-child > td
  {
    background-color: var(--meili-bg) !important;
  }

  body > center > table > tbody > tr:first-child > td *
  {
    color: var(--meili-white) !important;
  }

  .title
  {
    font-size: 12pt;
  }

  .title a .sitestr
  {
    color: var(--meili-light-pink) !important;
  }

  .title *,
  .comment *
  {
    color: var(--meili-white) !important;
  }

  .title a,
  .comment a
  {
    text-shadow: black 0px 1px 3px !important;
    color: var(--meili-white) !important;
  }

  .title a:visited,
  .comment a:visited
  {
    color: var(--meili-dark-blue) !important;
  }

  .yclinks a
  {
    color: var(--meili-orange) !important;
  }

  .subtext a,
  .subtext span
  {
    text-shadow: black 0px 1px 3px !important;
  }

  .subtext span
  {
    color: var(--meili-dark-pink) !important;
  }

  a{
    color: var(--meili-orange) !important;
  }
  a[href^=item]
  {
    color: var(--meili-dark-green) !important;
  }

  a[href^=user]
  {
    color: var(--meili-orange) !important;
  }

  body,
  body > center > table
  {
    background-color: var(--meili-bg) !important;
  }
}
